* {margin: 0; 
    padding: 0;
     box-sizing: border-box;}

     .dialog-box {
         width: 50vmin;
         height: 20vmin;
         border: 3px solid;
         color: crimson;
         position: relative;
         left: 50%;
         top: 50vh;
         transform: translate(-50%, -50%);
         background-color: violet;
     }
     .close-button {
         position: absolute;
         right: 0;
         top: 0;
         padding: .125em .325em;
         background:darkblue;
         color: white;

     }