body {
    background: lightcoral;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: powderblue;
}

h1 {
    background-color: pink;
    text-align: center;
    font-size: 1.75rem;
    padding: 40px;
}

h2 {
    background-color: tan;
    text-align: center;
    font-size: 1.25rem;
    padding: 20px;
}

section {
    background-color: olive;
    font-size: 12pt;
    padding: 10px;
    margin: 1em 0;
}

p { 
    background-color: palegoldenrod;
    padding: 50px;
}