* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {  
    background-color: lightpink;
}
#phone {
    height: 98vmin;
    padding: 2em 1em;
    background: black;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#screen {
    height: 100%;
    width: 100%;
    padding: 2em;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.row { 
    display: flex;
}
.box { 
    background-color: red;
    height: 10vmin;
    width: 10vmin;
    margin: .25em;
    border-radius: 3vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vmin;
}
.box:hover{
    background-color: lavender;
}
.a {background: pink;
    text-align: center;
    color: white;
}
.b {background: rgb(226, 86, 203);
    text-align: center;
    color: white;}
.c {background: rgb(202, 16, 118);
    text-align: center;
    color: white;}
.d {background: rgb(141, 8, 75);
    text-align: center;
    color: white;}
.e {background: rgb(59, 4, 43);
    text-align: center;
    color: white;}
.f {background: rgb(236, 177, 224);}
.g {background: rgb(241, 77, 104);}
.h {background: rgb(192, 37, 50);}
.i {background: rgb(255, 0, 43);}
.j {background: rgb(250, 146, 146);}
.k {background: rgb(49, 3, 124);}
.l {background: rgb(144, 79, 182);}
.m {background: rgb(228, 33, 253);}
.n {background: rgb(130, 32, 160);}
.o {background: rgb(165, 61, 179);}
.p {background: rgb(190, 234, 252);}
.q {background: rgb(117, 174, 228);}
.r {background: rgb(53, 95, 209);}
.s {background: rgb(18, 150, 202);}
.t {background: rgb(57, 28, 223);}
.u {background: rgb(87, 138, 196);}
.v {background: rgb(87, 137, 160);}
.w {background: rgb(0, 102, 255);}
.x {background: rgb(96, 115, 179);}
.y {background: rgb(13, 7, 71);}